@font-face {
  font-family: 'Ubuntu Mono';
  src: local('UbuntuMono-Bold'),
      url('UbuntuMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: local('UbuntuMono-Regular'),
      url('UbuntuMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: local('UbuntuMono-Italic'),
      url('UbuntuMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: local('UbuntuMono-BoldItalic'),
      url('UbuntuMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
